:root {
  --background-color: white;
  --text-color: black;
  --button-background-color: white;
  --button-text-color: #a62626;
  --button-border-color: #a62626;
  --input-background-color: white;
  --input-text-color: black;
  --input-border-color: #eaeaea;
  font-family: "Vazir", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

body {
  margin: auto;
  max-width: 1400px;
  min-height: 100vh;
  padding: 10px;
  background-color: var(--background-color);  
  color: var(--text-color); 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
  color: inherit;
}

button,
input,
select {
  font-family: inherit;
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  border: 1px solid var(--input-border-color);
}
