.dropdown {
  position: absolute;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 4px;
  width: 180px;
  margin-top: 15px;
  left: 0;
  display: flex;
  flex-direction: column;
}

.option {
  padding: 10px 15px;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  border-bottom: 1px solid rgba(128, 128, 128, 0.324);
}

.option:last-child {
  border-bottom: none;
}

.option:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .dropdown {
    width: 160px; /* عرض منو در موبایل */
    /* margin-top: 5px; فاصله کمتر در موبایل */
    top: 25px; /* فاصله دقیق‌تر از دکمه "دیوار من" */
    left: 0; /* منو از سمت چپ صفحه به درستی تنظیم می‌شود */
  }
  .profileButton {
    position: relative; /* برای موقعیت‌دهی منو نسبت به این دکمه */
  }
}