.homePage {
  display: flex;
  flex-direction: row;
}

.pageContent {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .homePage {
    flex-direction: column;
  }

  .pageContent {
    flex-direction: column;
  }
}
